/* FOOTER */
.footer {
  width: 100%;
  background-color: #004080;
  color: white;
  padding: 20px 0;
}

/* Linhas */
.linha {
  border-top: 1px solid #c0c0c0;
  margin: 10px auto;
  width: 95%;
}

/* Grid Principal */
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 40px;
  gap: 30px;
}

.footer-esquerda,
.footer-direita {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* LOGO */
.logo-footer {
  width: 50px;
  height: 50px;
  /* background-color: rgb(0, 0, 0); */
  margin-bottom: 20px;
  box-sizing: border-box;
  margin: 20px 0 0 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo-footer{
  width: 68px;
  height: 50px;
  margin: auto;
  float: left;
}

/* Texto Esquerdo (quadrado) */
.box-texto-esquerdo {
  width: 600px;
  height: 500px;
  /* background-color: #5b2b2b; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-align: center;
}

/* Direita */
.footer-direita {
  /* background-color: #0080ff; */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Mapa */
.mapa {
  width: 100%;
  max-width: 700px;
  height: 400px;
  /* background-color: black; */
  /* color: white; */
  display: flex;
  /* align-items: center; 
  justify-content: center;  */
  margin-bottom: 10px;
  font-size: 24px;
}

/* Texto Branco */
.texto-branco {
  width: 100%;
  max-width: 400px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
}

/* Direitos no canto */
.direitos {
  font-size: 12px;
  width: 400px;
  height: 30px;
  text-align: right;
  align-self: flex-end;
  margin: 20px 0 0 900px;
}

/* Responsivo */
@media (max-width: 1024px) {
  .footer-grid {
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 20px;
  }

  .footer-esquerda,
  .footer-direita {
    align-items: center;
  }

  .box-texto-esquerdo {
    width: 90%;
    max-width: 300px;
    height: 250px;
  }

  .mapa {
    width: 90%;
    height: 500px;
    margin: 0 0 50px 0 ;
  }

  .footer-titulo {
    font-size: 48px;
  }

  .texto-branco {
    width: 90%;
    font-size: 18px;
  }

  .direitos {
    width: 100%;
    height: auto;
    text-align: center;
    align-self: center;
    margin: 20px auto 0 auto;
    padding: 10px 0;
    display: block;
  }

}

@media (max-width: 480px) {
  .footer-titulo {
    font-size: 36px;
  }

  .box-texto-esquerdo,
  .mapa {
    height: 200px;
  }

  .texto-branco {
    font-size: 16px;
  }
}
/* Redes Sociais */
.redes-sociais {
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: white;
}

.tamanhoicon{
  font-size: 30px;
}


.social-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.social-item i {
  font-size: 20px;
}

/* Responsivo para redes sociais */
@media (max-width: 1024px) {
  .redes-sociais {
    align-items: center;
    text-align: center;
  }
}